<h1>MENU 1</h1>

<div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly;">
  <app-card-tag-horizontal></app-card-tag-horizontal>
  <app-card-tag-diagonal></app-card-tag-diagonal>
  <app-card-simple></app-card-simple>

  <app-card-tag-horizontal></app-card-tag-horizontal>
  <app-card-tag-diagonal></app-card-tag-diagonal>
  <app-card-simple></app-card-simple>

  <app-card-tag-horizontal></app-card-tag-horizontal>
  <app-card-tag-diagonal></app-card-tag-diagonal>
  <app-card-simple></app-card-simple>
</div>

<div class="circle"></div>

<app-spinner></app-spinner>
