.global-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-radius: 20px;
}

.container-box {
  height: 98vh;
  width: 100%;
  border-radius: 15px;
  max-height: 98vh;
  overflow: auto;
}
